@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: aliceblue;
}

.todo-app {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #d7e5ff;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #a0a0a0;
}

.chelik-input {
  div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 380px;
    margin: 0 auto 16px;
  }

  input {
    width: -webkit-fill-available;
  }
}

.moving-item {
  opacity: 0.5;
  background: #000;
  border: 1px solid #4299e1;
}

.chelik-info {
  &__wrap {
    display: flex;
    flex-direction: column;
    background: aliceblue;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    margin: 32px 0;
  }

  &__title {
    width: 100%;
    border-bottom: 1px solid #a0a0a0;
    height: 32px;
    line-height: 30px;
  }

  &__properties-list {
    display: flex;
    height: 30px;
    line-height: 30px;
    justify-content: flex-start;
    align-items: center;
  }

  &__properties-index {
    width: 20%;
    border-right: 1px solid #a0a0a0;
  }

  &__properties-name {
    width: 45%;
    border-right: 1px solid #a0a0a0;
  }

  &__properties-age {
    width: 24%;
    border-right: 1px solid #a0a0a0;
  }

  &__properties-blank {
    width: 11%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    line-height: 30px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #a0a0a0;
    min-height: 32px;
  }

  &__item-index {
    width: 20%;
    border-right: 1px solid #a0a0a0;
  }

  &__item-name {
    width: 45%;
    border-right: 1px solid #a0a0a0;
  }

  &__item-age {
    width: 24%;
    border-right: 1px solid #a0a0a0;
  }

  &__item-del {
    width: 11%;
  }

  &__item-index, 
  &__item-age,
  &__item-del {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

button {
  margin: 0px auto;
}