body {
  font-family: 'Source Sans Pro', sans-serif;
}

.todo-app {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background: #d7e5ff;
  border-radius: 8px;
  padding: 10px;
}

.chelik-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 380px;
  margin: 0 auto 16px;

  input {
    width: -webkit-fill-available;
  }
}

.chelik-table {
  overflow: auto;
}

table.chelik-info {
  width: 100%;
  background-color: aliceblue;
  border: gray 1px solid;
  border-collapse: collapse;
  margin: 20px 0;
}

.chelik-info-tr {
  td {
    border: gray 1px solid;
  }
}